.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
}

.app-logo-2 {
  margin-top: 28px;
  height: 24vmin;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav {
    float: left;
    box-sizing: border-box;
    padding: 130px;
    width: 50%;
}


.nav ul a {
  text-decoration: none;
  font-family: AvenirNextLTW01Regular;
  color: inherit;
}

.nav.nav-primary {
  text-align: left;
  padding: 65px 0px 0px 90px;
}

.nav.nav-secondary {
  text-align: right;
  padding: 65px 90px 0px 0px;
}

.nav.nav-secondary > ul > li > a > img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.nav.nav-secondary > ul > li > a > img:hover {
  opacity:.6;
}

.intro {
  margin-top: 100px;
  margin-left: 155px;
  margin-right: 155px;
  font-family: AvenirNextLTW01Italic;
  font-size: 28px;
  font-weight: normal;
  /* font-style: italic; */
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.nav ul a:hover {
  text-decoration: underline;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 600;
}

.nav ul li {
    display: inline-block;
    margin-right: 2em;
}

.logo-box {
  text-align: center;
}

.section-header {
  font-family: AvenirNextLTW01Bold;
  font-size: 30px;
  z-index:20;
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
}

.section-header-experiences {
  font-family: AvenirNextLTW01Bold;
  font-size: 30px;
  z-index:20;
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}

.content-row{
    position:relative;
    width:100%
}
.content-row svg{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    height:100%
}

.svg-wrap {
  position: relative;
  width:100%;
}

.svg-wrap svg{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%
}
.content-row.content-row--about{
    z-index:30;
    margin-top:-280px;
    padding:220px 0 250px;
    color:#fff
}
.content-row.content-row--writing{
    z-index:30;
    margin:-100px 0
}
.content-row.content-row--writing svg{
    height:590px
}
.content-row.content-row--misc{
    margin:-250px 0 0;
    padding:240px 0 100px;
    background:#F9F8FD
}
.content-row.content-row--misc img{
    display:block;
    margin:65px 0 0
}
.content{
    position:relative;
    z-index:50;
    margin:0 auto;
    max-width:90%;
    width:1140px
}
.content p{
    margin-right:auto;
    margin-left:auto;
    width:910px;
    max-width:100%
}
.content img{
    max-width:100%
}
ul.work,ul.writing{
    position:relative;
    overflow:hidden;
    margin:0 auto;
    padding:0;
    list-style:none
}
ul.work li,ul.writing li{
    float:left
}
ul.work a,ul.writing a{
    display:block;
    position:relative;
    top:0;
    background:white;
    box-shadow:0 20px 30px 0 rgba(0,0,0,0.25);
    -webkit-transition:top 0.1s, box-shadow 0.1s;
    transition:top 0.1s, box-shadow 0.1s
}
ul.work a:hover,ul.writing a:hover{
    top:-5px;
    box-shadow:0 20px 35px 0 rgba(0,0,0,0.25)
}
ul.work a:active,ul.writing a:active{
    box-shadow:none;
    top:5px
}
ul.work{
    margin-left: 53px;
    margin-right: 53px;
    /* top:-150px; */
    width:1120px;
    max-width:90%;
    z-index:20
}
ul.work li{
    margin-right:30px;
    margin-top: 30px;
}
ul.work a{
    width:300px;
    height:375px
}
ul.work img{
    display:block;
    margin:0
}

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  z-index:20;
  justify-content: center;
  position:relative;
  overflow:hidden;
  /* margin-left: 52px;
  margin-right: 52px; */
  margin: 0 auto;
  padding:0;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  z-index:20;
  justify-content: center;
  position:relative;
  overflow:hidden;
  /* margin-left: 52px;
  margin-right: 52px; */
  margin: 0 auto;
  padding:0;
}

.experiences {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  z-index:20;
  justify-content: center;
  position:relative;
  overflow:hidden;
  /* margin-left: 52px;
  margin-right: 52px; */
  margin: 0 auto;
  padding:0;
}

.cell {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top:5px;
  box-shadow:0 10px 15px 0 rgba(0,0,0,0.25)
}

.card {
  background-color: white;
  width: 414px;
  height: 337px;
}
.cell:hover {
  margin-top:0px;
}
.card:hover{
    box-shadow:0 20px 35px 0 rgba(0,0,0,0.25)
}

.card-img {
  width:100%;
  height:241px;
  margin: 0px;
}
.card-div {
  width: 100%;
  height: 96px;
  margin: 0px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.card-text {
}

.contain-image {
  min-width: 100%;
  max-height: 241px;
}

.skill-box {
  width: 414px;
  height: 337px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: rgba(0,0,0,);
  color: white;
  font-size: 24px;
}

.skill-title {
  font-weight: 700;
  text-align: center;
}

.skill-text {
  text-align: center;
}

.experience-box {
  position: relative;
  /* width: 100%; */
  background-color: rgba(0,0,0,);
  color: white;
  font-size: 24px;
  margin: 0 auto;
}

.experience-title {
  font-weight: 700;
  text-align: center;
  width: 100vw;
  /* float:left; */
  /* width:40vw; */
}

.experience-text {
  font-weight:400;
  /* text-align: center; */
  /* position:relative; */
  /* float: left; */
  /* width: 60vw; */
}

.resume-link-wrapper {
  position:relative;
  z-index:20;
  width: 100%;
  text-align: center;
  margin-top: 64px;
}
.resume-link {
  font-size: 24px;
  color: white;
  text-decoration: underline;
  margin: auto auto;
}

.email-link-wrapper {
  position: relative;
  z-index: 20;
  width: 100%;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 128px;
}

.email-text {
  font-size: 24px;
  color: white;
  margin: auto auto;
}

.email-link {
  z-index: 20;
  font-size: 24px;
  color: white;
  text-decoration: underline;
  margin: auto auto;
}

a {
  cursor: pointer;
}

/* .nav ul li:after{
    padding:0 4px 0 2px;
} */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media (max-width: 891px){
    .nav{
        width:100%
    }
    .nav.nav-primary,.nav.nav-secondary{
        text-align:center
    }
    .nav.nav-primary{
        padding:20px 0 20px
    }
    .nav.nav-secondary{
        padding:0 0 60px
    }
    .intro h1{
        font-size:3.6rem
    }
    .project--content{
        margin:0 auto
    }
    .contact{
        margin:45px auto 0;
        padding:10px 40px;
        font-size:1.6rem
    }
    .content h1{
        font-size:3.6rem
    }
    .content p{
        margin:30px 0 0;
        font-size:1.6rem
    }
    .content-row.content-row--about{
        padding:100px 0 200px
    }
    .content-row.content-row--writing svg{
        height:360px
    }
}

@media (max-width: 400px){
  .nav ul li {
      display: inline-block;
      margin-right: 1em;
  }
  .intro {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: AvenirNextLTW01Italic;
    font-size: 28px;
    font-weight: normal;
    /* font-style: italic; */
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}


